<h1 class="userListHeading">User List</h1>
<hr />
  
<!---Priviledges Edit Pop Up Menu-->

<div id="popupContact"> 
  <p id="contactArea">
  
  <%= form_tag '', :method=> 'put', :class => 'setpriv', :remote => :true do %> 
  <div class="inputset">
    <div class="input">
      <fieldset>
        <select id="user_usertype_id" name="user[usertype_id]" >
          <option class="saPriv" value="1">Super Admin</option>
          <option class="adminPriv" value="2">Admin</option>
          <option class="custPriv" value="3">Customer</option>
        </select>
      </fieldset>
      <p></p>
    </div>
    
  </div> 
		<center><%= submit_tag 'Change' %></center>
	<%end%>
  
  </p>
</div>

<div id="backgroundPopup"></div>

<!---End of Pup Up Menu-->
  
  
<div class="mod table" id="product-list">
  <div class="inner">
    <table id="user-list-table" class="box-table" summary="User List">
      <thead>
        <tr>
          <th scope="col">User ID</th>
          <th scope="col">Email</th>
          <th scope="col">Privilidges</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>
      <tbody>
      <% @users.each do |u| %>
        <tr>
          <td class="id"><%= u.id %></td>
          <td><%= link_to_if (can? :read, @user),  u.email, edit_admin_user_path(u) %></td>
          <td><%= link_to u.usertype.name, "#", :class => "popupTrigger" %></td>
          <td><%= link_to_if (can? :delete, @user), 'delete', admin_user_path(u), :method => 'delete' %></td>
        </tr>
      <% end %>  
      </tbody>
    </table>
  </div>
</div>
