<!DOCTYPE html>
<html>
<head>
  <title>Bolehnego</title>
  <%= stylesheet_link_tag    "admin/grid", "admin/reset", "admin/gravity", "admin/text", "admin/style", "admin/form-style", "admin/libraries", "admin/popup" %>
  <%= javascript_include_tag "application", "admin/popup", "jquery.min" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= notice %>
<%= alert %>



<!---Priviledges Edit Pop Up Menu-->

<div id="popupContact"> 
  <p id="contactArea">
  <form action="#" method="get">
  <div class="inputset">
    <div class="input">
      <fieldset>
        <select>
          <option class="saPriv" value="">Super Admin</option>
          <option class="adminPriv" value="">Admin</option>
          <option class="custPriv" value="">Customer</option>
        </select>
      </fieldset>
    </div>
  </div> 
		<center><input type="submit" value="Change"	name="change-priviledges"/></center>
  </form>
  </p>
</div>

<div id="backgroundPopup"></div>

<!---End of Pup Up Menu-->

<div class="grid_990 ctr"> 
  <!--TOPMENU & HEADER-->
  
  <div class="topmenu">
    <div class="right panel"> 
      <span class="login_info mrs">Signing as <strong><%= current_admin.email %>(<%= current_admin.usertype.name %>).</strong> | <%= link_to('Logout', destroy_admin_session_path, :method => :delete) %></span> 
      <a href="#"> <span class="notification_unactive mrs">0</span>New Message</a> <a href="#">
      <span class="notification_active mrs">3</span>New Orders</a>
    </div>
    <div class="clear"></div>
  </div>
  <div class="header">
    <div class="search_form right">
      <form action="#">      	
          <input type="text" name="search" class="search" value="search product" onfocus="if(this.value == 'search product') {this.value = '';}" onblur="if(this.value==''){this.value = 'search product';}"/>        
      </form>
    </div>
  </div>
  
  <!---> 
  
  <!-LEFT NAV-->  

 <div class="left nav grid_190">
    <ul class="parent">
      <li><%= link_to "Summary", admin_overviews_path %></li>
      <li class="active"><%= link_to "User", admin_users_path %>
        <ul class="child">
          <li><%= link_to_if (can? :update, @users), 'Add Admin', new_admin_user_path %></li>
          <li><%= link_to "Add Customer", "#"%></li>
        </ul>
      </li>
      <li> <%= link_to "Product", "#"%>
        <ul class="child">
          <li><%= link_to "Add Product", "#"%></li>
          <li><%= link_to "Product Category", "#"%></li>
        </ul>
      </li>
      <li><%= link_to "Orders", "#"%>
        <ul class="child">
          <li><%= link_to "Unknown", "#"%></li>
          <li><%= link_to "Unknown", "%"%></li>
          <li><%= link_to "Unknown","#"%></li>
        </ul>
      </li>
      <li><%= link_to "Special Offer", "#"%>
        <ul class="child">
          <li><%= link_to "Add Event", "#"%></li>
          <li><%= link_to "Add Special Offer", "#"%></li>
          <li><%= link_to "Event List", "#"%></li>
        </ul>
      </li>
      <li><%= link_to "Customer Review", "#"%></li>
      <li><%= link_to "Store", "#"%>
        <ul class="child">
          <li><%= link_to "Add Store", "#"%></li>
        </ul>
      </li>
      <li><%= link_to "Manufacter", "#"%>
        <ul class="child">
          <li><%= link_to "Add Manufacter", "#"%></li>
        </ul>
      </li>
      <li><%= link_to "Bolehnego.com Profile", "#"%></li>
    </ul>
  </div>
  
  <!--->
  
  <!-CONTENT-->
  
  <div class="content left grid_780 ml20">  	
  <%= yield %>
  </div>
  
  <!--->

</body>
</html>
